.klee-one-regular {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-sans-condensed-semibold {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

:root {
    --primary-color: #6f7635; /* reseda green */
    --secondary-color: #4e3c2b; /* cafe noir - brown */
    --accent1-color: #7BCCC5; /* tiffany blue */
    --accent2-color: #eecf45; /* naples yellow */
    --heading-font: "Klee One", Tahoma, sans-serif;
    --body-font: "IBM Plex Sans Condensed", Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}

h2 {
    margin: 20px;
    padding-left: 0;
    margin-left: 0;
}

nav, p, section, article {
    margin: 4px;
    padding: 8px;
    padding-left: 0;
    margin-left: 0;
}

.hero {
    position: relative;
    width: 1024px;
    height: 576px;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 2.5em;
    text-align: center;
    
}

.hero article {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgba(0, 51, 102, 0.7); /* semi-transparent blue */
    color: white;
    padding: 1em;
    overflow: hidden;
    z-index: 2;
    border-radius: 6px;
}

.hero article img {
    float: right;
    width: 157px;
    height: auto;
    margin-left: 47em;
    margin-top: 9px;
    border-radius: 4px;
}

.hero article p {
    float: left;
    width: calc(110% - 250px); /* leave space for image */
    margin: 0;
}

.hero img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    object-fit: cover; /* keeps image from stretching */
}

#captions, #caption1, #caption2, #caption3, #caption4 {
    padding: 0px;
    margin: auto;
    color: black;
    font-family:"IBM Plex Sans Condensed", Times, serif;
    font-size: small;
}

.socialmedia {
    line-height: 0;
}

.socialmedia img {
    width: 40px;
    height: auto;
    display: block;
}

.socialmedia a {
    display: inline-block;
    text-decoration: none;
}

#copyright {
    color: black;
}
